@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url('./assets/icons/space-background.webp');
    background-size: cover;
    background-position-x: center;
}

.active {
    border-bottom: 8px solid rgb(0, 219, 219);
  }

html, body { height: 100%; }
