.nav {
    display: flex;
    align-items: baseline;
    gap: 200px;
    padding: 20px;


    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        list-style: none;
        text-transform: capitalize;
        font-size: 46px;
        font-family: "Bebas Neue", serif;
        letter-spacing: 2px;
    
        &-item {
            color: #ffff;
            text-shadow: 4px 4px 4px rgba(128, 0, 128, 0.7); 
            cursor: pointer;

            &:hover {
                color: rgb(0, 219, 219);
            }
        }
    }
}
